.clock {
  grid-column: span 2;
  align-self: flex-start;
  padding-top: 2rem;
  font-size: var(--font-size-2xl);
  letter-spacing: 3px;
  z-index: 1;
}

.clock__amPm {
  margin-left: 0.4rem;
  font-size: var(--font-size-2xl);
}

@media (min-width: 300px) {
  .clock,
  .clock__amPm {
    font-size: var(--font-size-4xl);
  }
}

@media (min-width: 420px) {
  .clock {
    padding-top: 3rem;
    font-size: var(--font-size-6xl);
  }
}

@media (max-height: 700px) {
  .clock,
  .clock__amPm {
    padding-top: 1rem;
    font-size: var(--font-size-2xl);
  }
}
