@font-face {
  font-family: 'Sansburg';
  src: url('/fonts/Sansburg.woff2') format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --clr-text: 0, 0%, 99%;
  --clr-bg: 27, 14%, 12%;
  --clr-accent: 39, 100%, 50%;
  --clr-secondary: 16, 100%, 66%;
  --clr-neutral-0: 0, 0%, 0%;
  --clr-neutral-100: 0, 0%, 10%;
  --clr-neutral-200: 0, 0%, 20%;
  --clr-neutral-300: 0, 0%, 30%;
  --clr-neutral-400: 0, 0%, 40%;
  --clr-neutral-500: 0, 0%, 50%;
  --clr-neutral-600: 0, 0%, 60%;


  /* BORDER-RADIUS */
  --b-radius-sm: 6px;
  --b-radius-md: 12px;
  --b-radius-full: 50%;

  /* FONT SIZES */
  --font-size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
  --font-size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
  --font-size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
  --font-size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
  --font-size-xl: clamp(1.73rem, 0.92vw + 1.5rem, 2.07rem);
  --font-size-2xl: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
  --font-size-3xl: clamp(2.49rem, 1.33vw + 2.16rem, 2.99rem);
  --font-size-4xl: clamp(2.99rem, 1.57vw + 2.56rem, 3.59rem);
  --font-size-5xl: clamp(3.59rem, 1.83vw + 3.01rem, 4.29rem);
  --font-size-6xl: clamp(4.29rem, 2.14vw + 3.51rem, 5.16rem);

  /* BOX SHADOW */
  --box-shadow-sm: 0 0 0 3px hsl(var(--clr-neutral-400)),
    0 0 0 4px hsla(var(--clr-neutral-400), 0.3), inset 0 0 10px hsla(var(--clr-neutral-400), 0.8),
    0 5px 15px hsla(var(--clr-neutral-400), 0.5), inset 0 0 15px hsla(var(--clr-neutral-400), 0.2);
}

html,
body {
  min-height: 100vh;
  min-height: 100svh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  font-family: 'Sansburg', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
  overflow: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

input,
button,
select,
textarea {
  font: inherit;
}

::selection {
  background-color: hsl(var(--clr-secondary));
  color: white;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITIES */
.hidden {
  display: none;
}

/* LAYOUT */
.app-container {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
}

.layout-wallpaper__container {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
}

.layout-wallpaper__img {
  width: min(100%, 100%);
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

.content-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  text-align: center;
}

.content-container::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100%;
  background-color: hsla(var(--clr-bg), 0.2);
  mix-blend-mode: multiply;
}

/* GLOBAL MEDIA QUERIES */
