.settingsSection {
  place-self: flex-end;
  display: grid;
  margin-right: 0.5rem;
  position: relative;
  z-index: 1;
}

.settingsSection__panel {
  margin-bottom: 2rem;
  padding: 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-items: flex-start;
  align-items: center;
  font-size: var(--font-size-sm);
  border: 1px dotted currentColor;
  border-radius: var(--b-radius-sm);
  background-color: hsla(var(--clr-text), 0.15);
  backdrop-filter: blur(1rem);
  position: relative;
  opacity: 0;
  transition: 200ms ease;
}

.settingsSection__panel.show-panel {
  opacity: 1;
}

.settingsSection__panel legend {
  position: absolute;
  inset-inline: 0 0;
  top: 0.3rem;
  font-size: var(--font-size-base);
  font-weight: bold;
}

.settingsSection__panel div {
  justify-self: center;
  margin-bottom: 0.2rem;
}

.settingsSection__panel input[type='checkbox'] {
  width: 3rem;
  height: 1.2rem;
  display: block;
  margin-inline: auto;
  margin-bottom: 0.2rem;
  accent-color: hsl(var(--clr-accent));
  appearance: none;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-600)),
    hsl(var(--clr-neutral-500))
  );
  outline: none;
  border-radius: var(--b-radius-md);
  position: relative;
  box-shadow: var(--box-shadow-sm);
}

.settingsSection__panel input:checked[type='checkbox'] {
  background: linear-gradient(
    0deg,
    hsl(var(--clr-secondary)),
    hsl(var(--clr-accent))
  );
  box-shadow: 0 0 2px hsl(var(--clr-secondary)), var(--box-shadow-sm);
}

.settingsSection__panel input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 1.2rem;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-200)),
    hsl(var(--clr-neutral-500))
  );
  border-radius: var(--b-radius-md);
  box-shadow: 0 0 0 1px hsl(var(--clr-bg));
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.settingsSection__panel input:checked[type='checkbox']:before {
  left: 1rem;
}

.settingsSection__panel input[type='checkbox']:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 1.6rem;
  width: 4px;
  height: 4px;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-500)),
    hsl(var(--clr-neutral-200))
  );
  border-radius: var(--b-radius-full);
  transition: 0.5s;
}

.settingsSection__panel input:checked[type='checkbox']:after {
  left: 2.6rem;
  background: hsl(var(--clr-secondary));
  box-shadow: 0 0 5px hsl(var(--clr-accent)), 0 0 15px hsl(var(--clr-accent));
}

.settingsSection__cog {
  justify-self: flex-end;
  background-color: transparent;
  color: hsl(var(--clr-text));
  border: 0;
  cursor: pointer;
}

.settingsSection__cog:hover {
  filter: brightness(85%);
}

.settingsSection__cog svg {
  transition: all 200ms linear;
}

.rotate-cog {
  rotate: 65deg;
  scale: 1.2;
}

@media (min-width: 300px) {
  .settingsSection__panel {
    gap: 0.8rem;
    padding: 2.5rem 1rem 1rem;
    font-size: var(--font-size-base);
  }

  .settingsSection__panel legend {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 768px) {
  .settingsSection {
    margin-right: 2rem;
  }

  .settingsSection__panel {
    gap: 1rem;
    padding: 3rem 1.5rem 1.5rem;
  }
}
