.todoListSection {
  align-self: center;
  margin-left: 0.5rem;
 
}

.todoListSection__panel {
  position: absolute;
  inset: 10% 0% 10% 15%;
  max-width: 600px;
  margin-inline: auto;
  font-size: var(--font-size-sm);
  border: 1px dotted currentColor;
  border-radius: var(--b-radius-sm);
  background-color: hsla(var(--clr-text), 0.15);
  backdrop-filter: blur(1rem);
  pointer-events: none;
  z-index: 2;
  opacity: 0;
}

.todoListSection__panel.show-panel {
  opacity: 1;
  pointer-events: all;
}

.todoListSection__form {
  background: red;
}

.todoListSection__toggle {
  background-color: transparent;
  color: hsl(var(--clr-text));
  border: 0;
  cursor: pointer;
  position: relative;
}

.todoListSection__toggle:hover {
  filter: brightness(85%);
}

@media (min-width: 768px) {
  .todoListSection {
    margin-left: 2rem;
  }

  .todoListSection__panel {
    inset: 10% 10% 10% 10%;
  }
}

@media (min-width: 300px) {
  .todoListSection__panel {
    font-size: var(--font-size-base);
  }
}